<!--
  Generated template for the MapmodalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!--<ion-buttons start (click)="dismiss()">
      <button ion-button icon-only>
        
      </button>
    </ion-buttons>-->

    <ion-title></ion-title>
    
    <ion-buttons end (click)="closeModal()">
        <button clear ion-button>Save</button>
    </ion-buttons>
      <ion-buttons start (click)="clsmodel()">
        <button clear ion-button>Cancel</button>
    </ion-buttons>
  </ion-navbar>
    

<div class="searchouter">
<ion-searchbar 
   [(ngModel)]="autocomplete.query" 
   [showCancelButton]="true" 
   (ionInput)="updateSearch()" 
   (ionCancel)="dismiss()"
   placeholder="Start typing and select ..." required>
 </ion-searchbar>
    <button class="favbtn" (click)="fav(autocomplete.query)" ion-button icon-only>
<ion-icon name="{{iconname}}" ></ion-icon>
</button>
    
     <ion-list class="listitm" style="margin:0 !important; padding:0;" *ngIf="omega == 0">
      <ion-item *ngFor="let item of autocompleteItems" 
      (click)="getItem(item)">
      {{ item.description }}
      </ion-item>
      </ion-list> 
    <ion-list *ngIf="omega == 1">
      <ion-item *ngFor="let item of autocompleteItems" 
      (click)="getItem(item)">
      {{ item.address }}
      </ion-item>
      </ion-list> 
     <ion-list *ngIf="omega == 2">
      <ion-item *ngFor="let item of autocompleteItems" 
      (click)="getItem(item)">
      {{ item }}
      </ion-item>
      </ion-list>
</div>
    
<ion-toolbar class="toolbar_top" style="padding: 0 7px 7px 7px; background: #fff;">

    
<!--<ion-select  placeholder="Select city" style=" max-width: 100%; background: #fff; padding: 8px 10px; margin-bottom: 3px;"  [(ngModel)]="data.city" name="city" #city="ngModel" (ionChange)="city1(data.city)"  required>
    <ion-option *ngFor="let cit of arr" [value]="cit.city_code" name="hh">{{cit.city}},{{cit?.state}}</ion-option>
</ion-select>-->
    <ion-select  placeholder="Select city" style=" max-width: 100%; background: #fff; padding: 8px 10px; margin-bottom: 3px;" id="cittt" [(ngModel)]="data.city" name="city" #city="ngModel" (ionChange)="city1(data.city)"  required>
  <ion-option value="Bogota" selected>Bogotá DC, Bogotá DC</ion-option>
  <ion-option value="cun_soacha ">Soacha, Cundinamarca</ion-option>
  <ion-option value="cun_mosquera  "> Mosquera, Cundinamarca</ion-option>
  <ion-option value="cun_madrid  ">Madrid, Cundinamarca</ion-option>
  <ion-option value="cun_cajica  ">Cajicá, Cundinamarca</ion-option>
  <ion-option value="cun_soacha ">Soacha, Cundinamarca</ion-option>
  <ion-option value="cun_sopo">Sopó, Cundinamarca</ion-option>
  <ion-option value="facatativa ">Facatativá, Cundinamarca</ion-option>
  <ion-option value="tenjo ">Tenjo,Cundinamarca</ion-option>
  <ion-option value="tocancipa ">Tocancipa, Cundinamarca</ion-option>
  <ion-option value="guasca ">Guasca, Cundinamarca</ion-option>
  <ion-option value="anapoima ">Anapoima, Cundinamarca</ion-option>
  <ion-option value="villeta ">Villeta, Cundinamarca</ion-option>
  <ion-option value="la_vega ">La Vega, Cundinamarca</ion-option>
  <ion-option value="la_mesa ">La Mesa, Cundinamarca</ion-option>
</ion-select>


<ion-input type="text" placeholder='Additional Address Details' [(ngModel)]="data.additional" name="additional" #additional="ngModel"  ></ion-input>

    <button ion-button full color="theme-header" *ngIf="omega == 0" (click)="chooseItem()" [disabled]="!isenabled">Search</button>
     <button ion-button full color="theme-header" *ngIf="omega == 1" (click)="chooseItem1()" [disabled]="!isenabled">Search</button>
      <button ion-button full color="theme-header" *ngIf="omega == 2" (click)="chooseItem2()" [disabled]="!isenabled" >Search</button>
</ion-toolbar>
</ion-header>


<ion-content>

<!--    <ion-icon name="star" (click)="fav(autocomplete.query)">Add favourite</ion-icon>
    <ion-item>
      </ion-item>-->
   
    
        
<div #map id="map"></div>
   
    <!--<button ion-button (click)="saveaddress">Save Location</button>-->
</ion-content>
