page-mapmodal {
#map{
    height: 100%;
    width:100%;
}

.bar-button-clear-ios, .bar-button-default.bar-button-ios-clear, .bar-button-clear-ios-clear {
    color: #000;
    background-color: transparent;
}
.list-ios {
    margin: -1px 0 32px;
    position: absolute;
    z-index: 9999;
}

input.searchbar-input {
    box-shadow: none !important;
    border: 1px solid #ddd;
}
.searchbar{
    margin: 0 !important;
    padding-bottom: 0;
}
.select {
    box-shadow: none !important;
    border: 1px solid #ddd;
}
.text-input {
    box-shadow: none !important;
    border: 1px solid #ddd;
    margin: 0px;
    padding: 8px 10px;
    background: #fff;
    width: 100%;
}

.searchbar-input{
    padding: 3px 39px 3px 44px !important;
    margin-bottom: 3px;
    font-size: 14px !important;
}

.toolbar_top .toolbar-background{
    background: #fff;
}
.searchouter {
    width: 100%;
    padding-right: 50px;
    position: relative;
}
.favbtn {
    position: absolute;
    right: 5px;
    top: 15px;
    background: no-repeat;
    box-shadow: none;
    border: 1px solid #ddd;
    color: #f27242;
    margin-top: -6px;
    width: 43px;
}
.searchouter .list {
    margin: 0;
}


}
