page-chefdetials {
	.title .toolbar-title p{
		margin: 0;
	    font-size: 12px;
	    font-weight: 500;
	}
	.top.sec{
		width: 100%;
	    float: left;
	    padding-top: 10px;
	   padding-bottom: 0;
	}
	.top{
		width: 100%;
		float: left;
		border-bottom: 2px dotted #b9b9b9;
        padding-bottom: 15px;
	}
	.top .image{
	    width: 60px;
	    height: 60px;
	    border-radius: 50%;
	    overflow: hidden;
	}
	.top .image img{
		width: 100%;
		float: left;
	}
	.top ul{
		padding: 0;
	    margin: 0;
	    display: inline-block;
	    list-style: none;
	    margin-right: 8px;
	}
	.top ul li{
    display: inline-block;
	}
	.top ul li .icon{
		font-size: 13px;
	}
	.top .text h2{
		font-size: 14px;
	    width: 100%;
	    margin-top: 4px;
	    color: #f27242;
	    font-weight: 700;
	    margin-bottom: 5px;
	}
	.top .text h3{
		font-size: 12px;
	    color: #6a6a6a;
	    font-weight: 500;
	    margin-bottom: 4px;
	}
	.top .text p{
		margin: 0;
	    color: #000;
	    font-weight: 500;
	    font-size: 12px;
	}
	.top .text h5{
		font-size: 13px;
	    margin: 0;
	    font-weight: 500;
	    color: #000;
	}
	.product{
		width: 100%;
		float: left;
		padding-bottom: 0 !important;
        padding-top: 0 !important;
	}
	.product .colm{
		width: 100%;
		float: left;
		position: relative;
		border-radius: 3px;
        overflow: hidden;
	}
	.product .colm .text{
		position: absolute;
	    text-align: center;
	    bottom: 0;
	    padding: 2px;
	}
	.product .colm .text p{
		color: #fff;
		font-size: 11px;
		font-weight: 400;
		margin-bottom: 4px;
	}
	.product .text h3{
	font-size: 14px;
    color: #000;
    font-weight: 700;
    margin: 5px 0px 0px 0px;
    width: 100%;
    float: left;
}
    .special .list{
		width: 100%;
		float: left;
		margin:0px;

	}
	.special{
	    width: 100%;
	    float: left;
	    padding-top: 5px;
	}
	.special h3{
		width: 100%;
	    float: left;
	    margin: 0px 0px 5px 0px;
	    padding-left: 16px;
	    font-size: 14px;
	    color: #000;
	    font-weight: 700;
	}
	.special .item{
		width: 100%;
		float: left;
	    align-items: inherit !important;
		border-bottom: 1px solid #d2d2d2;
	    padding: 0px 16px;
	    background-color: #f9f9f9;
        border-top: none !important;
	}
	.special .item .label{
		margin-top: 8px;
		
	}
	.special .item-inner{
		border:none !important;
		padding-right: 0px !important;
	}
	.special .item .label h2{
		margin: 0;
	    width: 100%;
	    font-size: 12px;
	    font-weight: 700;
	    color: #000000;
	
	}
	.special .item .label p{
		width: 100%;
	    float: left;
	    color: #6a6a6a;
	    font-size: 11px;
	    font-weight: 500;
	}
	.item .left-p{
	    color: #383838;
	    font-size: 11px;
	    font-weight: 500;
	    padding-top: 5px;
	    margin-right: 0px;
	}
	.special .item .note{
		font-weight: 500;
	    margin-right: 0px;
	    height: 17px;
	    background-color: #2bb600;
	    border-radius: 2px;
	    padding: 2px 6px;
	    color: #fff;
	    font-size: 12px;
	}
	.special .item ion-thumbnail {
		width: 55px !important;
                height: 55px !important;
                min-height: auto;
                 min-width: auto;
                

	}
	.special .item ion-thumbnail img{
		width:  55px !important;
		float:left !important;
		height: 55px !important;
	}

	.imgicon{
		margin-right: 5px;
		margin-top: 1px;
	}
	/*.acrdin .item h3{
		width: 100%;
	    float: left;
	    font-size: 14px;
	    color: #000;
	    font-weight: 700;
	    text-transform: uppercase;
	}
	.acrdin{
		width: 100%;
		float: left;
	}
	.acrdin .item{
		border-bottom: 0.55px solid #c8c7cc;
	}
	.acrdin .item:first-child{
		
	}
	.acrdin .item-inner{
		border: none !important;
	}
	.acrdin .item .dsprtion{
		color: #6a6a6a;
		font-weight: 400;
		font-size: 14px;

	}*/
	.about{
		width: 100%;
		float: left;
		padding: 5px 16px;
	}
	.about h3{
	    margin: 0;
	    font-size: 12px;
	    color: #000;
	    font-weight: 500;
	}
	.about p{
	    color: #6a6a6a;
	    font-size: 12px;
	    margin: 0;
	    font-weight: 400;
	}


}
