<ion-header>
  <ion-navbar color="theme-header">
    <ion-title>
      Chef List
      <p>Online Chef list</p>
    </ion-title>
    
  </ion-navbar>
    
    
    
<div class="searchouter">
<ion-searchbar placeholder="Fill Address..." (click)="openlist()" [(ngModel)]="chefsearch.search" name="search" #search="ngModel" >
 </ion-searchbar>

    <div class="listout">  
<ion-list class="listitm" style="margin:0 !important; padding:0;" *ngIf="openllist == 1" >
     
     <ion-list-header style="background: #f2f2f2; margin: 0;"> Saved Addresses: </ion-list-header>
     
    <ion-item *ngFor ="let opt of searcharray;let i = index"
        (click)="getItem(opt)">
        {{opt}}
        <ion-icon name="close" small item-end (click)="del(i)"></ion-icon>
    </ion-item>
     
      <ion-list-header style="background: #f2f2f2; margin: 0;"> Favourite Addresses: </ion-list-header>
      
       <ion-item *ngFor ="let opt1 of searcharray1;let i = index" 
        (click)="getItem(opt1)">
        {{opt1}}
        <ion-icon name="close" small item-end (click)="del1(i)"></ion-icon>
    </ion-item>
       
     <ion-item>
         <button (click)= "openmapmodal()" outline ion-button color="dark" icon-right round>Go To Other Address <ion-icon name="navigate"></ion-icon> </button>
         <button ion-button color="danger" outline round icon-right  (click)="cancellist()"> Cancel <ion-icon name="close"></ion-icon></button>
     </ion-item>
     
       
</ion-list> 
    </div>
       
</div>
    

    


  <ion-toolbar class="dateleft">
      <p>Main Date</p>
            <ion-datetime placeholder="MMM/DD/YYYY HH:MM" displayFormat="MMM/DD/YYYY HH:mm" pickerFormat="MMM DD YYYY HH mm" min="{{date}}" max="3000" [(ngModel)]= "data.datetime" name="datetime" #datetime="ngModel" ></ion-datetime>
  </ion-toolbar>
      
    <ion-toolbar class="dateleftr">
        <p>Alternative Date</p>
            <ion-datetime placeholder="MMM/DD/YYYY HH:MM" displayFormat="MMM/DD/YYYY HH:mm" pickerFormat="MMM DD YYYY HH mm" min="{{date}}" max="3000" [(ngModel)]= "data.altdate" name="altdate" #altdate="ngModel" ></ion-datetime>
            
    </ion-toolbar> 
    

  <div class="segment-sec">
      
  <ion-toolbar>
  <ion-segment [(ngModel)]="pet">
    <ion-segment-button value="kittens">
      chef Search
    </ion-segment-button>
    <ion-segment-button value="puppies">
      Dish Search
    </ion-segment-button>
  </ion-segment>
  </ion-toolbar>
</div>
</ion-header>
<ion-content  class="{{blurclass}}" style="padding: 0;">

    <div class="overlayn" (click)="cancellist()" ></div>
    
  <div class="banner">
  <img src="assets/img/off.png">
</div>
  
  <div class="content-sec">
    

  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'kittens'">
        <div class="serch">
  <ion-searchbar placeholder="Search by chef..." [(ngModel)]="data.dat" name="dat" #dat="ngModel" (input)="searchaa(data.dat)" ></ion-searchbar>
  <div class="option">
      <img src="assets/img/option.png" (click)="fltr_opn()">
  </div>
</div>
  <ion-list>
      <ion-item *ngFor="let dat of array" (click)="detail(dat)">
          
        <ion-avatar item-start>
             <img *ngIf ="dat?.user_image"  src="{{dat?.user_image}}">
             <img *ngIf ="!dat?.user_image" src="assets/img/amanda.png">
         
        </ion-avatar>
        <h3>{{dat?.firstname}} {{dat?.lastname}}</h3>
          <div *ngIf="dat?.status == true">
              <p> <span>Specialities</span><span *ngFor="let spec of dat.specialties">{{spec?.specialties_product}},</span></p>
        <p><span>Experience </span>Private Chef, Personal,</p>
        <div class="rightbtn green" item-end>
          <h3><span> <img src="assets/img/star.png"></span>3/4</h3>
        </div>
        <div class="leftbtn">
          <button ion-button icon-left clear>
             <ion-icon name="radio-button-on" style="color: #2bb600;"></ion-icon>
            Available Today
          </button>
        </div>
        <div class="right">
          <button ion-button icon-left clear>
             <ion-icon name="radio-button-on" style="color: #dcca00;"></ion-icon>
            Alternative date available
          </button>
        </div>
          </div>
      </ion-item> </ion-list>

<!--      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/arenda.png">
        </ion-avatar>
        <h3>Andrea Beaman</h3>
        <p><span>Specialities</span>Idli,sambhar, Kerla</p>
        <p><span>Experience </span>Private Chef, Personal,</p>
        <div class="rightbtn green" item-end>
          <h3><span> <img src="assets/img/star.png"></span>3/4</h3>
        </div>
        <div class="leftbtn">
          <button ion-button icon-left clear>
             <ion-icon name="radio-button-on" style="color: #fe4600;"></ion-icon>
            Not available today
          </button>
        </div>
        <div class="right">
          <button ion-button icon-left clear>
             <ion-icon name="radio-button-on" style="color: #dcca00;"></ion-icon>
            Alternative date available
          </button>
        </div>
      </ion-item>-->
<div *ngIf="bit == null"><div class="loadimg"><img width="220px" src="assets/img/RafahoLogo-03.png"></div></div>
<div *ngIf="arr1 == null"><div class="loadimg"><img width="220px" src="assets/img/RafahoLogo-02.png"></div></div>
    </ion-list>
  </div>





  <div [ngSwitch]="pet">

  <div class="serch-text" *ngSwitchCase="'puppies'">
      <div class="serch">
          <ion-searchbar placeholder="Search by dish..." [(ngModel)]="data.dats" name="dats" #dats="ngModel" (input)="searchdish(data.dats)" ></ion-searchbar>
      <div class="option">
      <img src="assets/img/option.png" (click)="fltr_opn()">
      </div>
     </div>
  
      <ion-list *ngIf= "arr != null">
      <ion-item *ngFor="let dats of arr">
<!--        <span >-->
        
        <ion-thumbnail item-start  >
            <div *ngFor="let prodds of dats.products">
              <img  *ngIf="prodds?.bit == 0" src="{{prodds?.product_image0}}">
                <!--<img *ngIf="!prodds?.bit == 0" src="assets/img/frvttwo.png"">-->
                </div>
              </ion-thumbnail>
      <!--</span>-->
     
        <div class="main">
          <div  class="image">
            <img *ngIf ="dats?.user_image"  src="{{dats?.user_image}}">
             <img *ngIf ="!dats?.user_image" src="assets/img/amanda.png">
          </div>
          <h1>{{dats?.firstname}} {{dats?.lastname}} </h1>
          <div class="right-sec">
            <button ion-button class="rating histry">3/5</button>
          </div>
        </div>
      
<!--        <h2> <img class="imgicon" width="11px" src="assets/img/acicon.png">South indian food</h2>-->
       <div *ngFor="let prods of dats.products"> <p *ngIf="prods?.bit == 0">{{prods?.product_name}}</p></div>
        <div class="btn-left">
          <button ion-button outline (click)="prdlist(dats.products)">
            BOOK NOW
          </button>
        </div>
         <div class="btn-rght">
          <button ion-button outline>
            COOK AT HOME
          </button>
        </div>
       <div *ngFor="let proods of dats.products">
          <div class="hor" style="width: 25px; float: left;" *ngIf="proods?.bit == 0" ><ion-icon name="time"></ion-icon><span  >{{proods?.cocking_time_at_user_home}}h</span></div>
     </div>
      </ion-item>
    
  </ion-list>
      <div *ngIf="arry == true"><div class="loadimg"><img width="120px" src="assets/img/srchimg.png"></div></div>
      <div *ngIf="arry == null"><div class="loadimg"><img width="220px" src="assets/img/RafahoLogo-03.png"></div></div>
  </div>
    <!-- <div class="serch-contant" *ngSwitchCase="'puppies'">
        <div class="image">
            <img src="../assets/img/srchimg.png">
        </div>
        <h5>Search Dish</h5>
        <p>Lorem Ipsum is simply dummy text of the printing and industry.</p>
    </div> -->
  </div>

</div>
</ion-content>
