page-favorites {
	.segment-sec{
		width: 100%;
		float: left;
	}
	.segment-sec .toolbar{
		width: 100%;
		float: left;
	}
	.segment-sec .toolbar .toolbar-background{
		border: none !important;
	}
	.segment-sec .toolbar .segment{
		width: 100%;
		float: left;
		padding: 0 20px;
	}
	.segment-sec .toolbar .segment .segment-button{
	    width: 100%;
        max-width: 100%;
	}
	.content{
		width: 100%;
		float: left;
	}
    .content-sec{
		width: 100%;
	    float: left;
	    padding: 7px;
	   
	}
	.content-sec .grid .main-sec{
		width: 100%;
		float: left;
		position: relative;
	}
	.content-sec .grid .main{
		width: 100%;
		float: left;
	}
	.content-sec .grid .main img{
		width: 100%;
		float: left;
	}
	.content-sec .grid .main-sec .heart{
		width: 30px;
		height: 30px;
		position: absolute;
		top: 4px;
		left: 4px;
		text-align: center;
		background-color: #fff;
		border-radius: 50%;
	}
	.content-sec .grid .main-sec .heart img{
	    width: 70%;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: auto;


	}
	 .content-sec .grid{
	 	padding:0px;
	 }
	
}
