<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header hidden>
 <ion-toolbar>
  <ion-title>Menu</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
		<div class="main">
		<div class="top-img">
			<img src="assets/img/signup-bg.png">
		</div>
		<div class="bottom-img">
			<img src="assets/img/tpbg.png">
		</div>
		<div class="text-sec">
		<h2>Sign In</h2>
		<h3>Welcome to <span>Rafaho</span> app</h3>
	</div>
	<div class="logo">
		<img src="assets/img/logo.png">
	</div>
	</div>
	<div class="content-sec">
		<div class="sign">
			<form class="form-sec" #registrationForm="ngForm" novalidate (submit)="Registration(registrationForm)">
				<ion-list >
			      <ion-grid>
			      	<ion-row>
			      		<ion-col col-6 class="left">
						  <ion-item>
						    <ion-label stacked>First name</ion-label>
						    <ion-input type="text" [(ngModel)]="data.firstname" name="firstname" #firstname="ngModel" required></ion-input>
						  </ion-item>
							<div class="alert alert-danger" color="danger">
                  <div *ngIf="firstname.errors && (firstname.dirty || firstname.touched)">
                    <div [hidden]="!firstname.errors.required">
                      First name is required
                    </div>
                  </div>
                </div>
						</ion-col>
						<ion-col col-6 class="right">
						  <ion-item>
						    <ion-label stacked>Last name</ion-label>
				   		    <ion-input type="text" [(ngModel)]="data.lastname" name="lastname" #lastname="ngModel" required></ion-input>
						  </ion-item>
							<div class="alert alert-danger" color="danger">
                  <div *ngIf="lastname.errors && (lastname.dirty || lastname.touched)">
                    <div [hidden]="!lastname.errors.required">
                      Last name is required
                    </div>
                  </div>
                </div>
						</ion-col>
						<ion-col col-6 class="left">
						  <ion-item>
						    <ion-label stacked>Birthday</ion-label>
						     <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY"  [(ngModel)]="data.dob" name="dob" #dob="ngModel" max="{{date}}" required></ion-datetime>
						  </ion-item>
							<div class="alert alert-danger" color="danger">
                  <div *ngIf="dob.errors && (dob.dirty || dob.touched)">
                    <div [hidden]="!dob.errors.required">
                      What's your date of birth?
                    </div>
                  </div>
                </div>
						</ion-col>
						<ion-col col-6 class="right gender">
							<ion-label>Gender</ion-label>
						  <ion-item>
							  <ion-select [(ngModel)]="data.gender" name="gender" #gender="ngModel" required>
							    <ion-option value="female">Female</ion-option>
							    <ion-option value="male">Male</ion-option>
							  </ion-select>
						  </ion-item>
							<div class="alert alert-danger" color="danger">
                  <div *ngIf="gender.errors && (gender.dirty || gender.touched)">
                    <div [hidden]="!gender.errors.required">
                      You are?
                    </div>
                  </div>
                </div>
						</ion-col>
                                    
<!--                <ion-col col-12 class="right gender">
							<ion-label>ENTER CITY</ion-label>
						  <ion-item>
							  <ion-select [(ngModel)]="data.city" name="city" #city="ngModel" required>
							    <ion-option *ngFor="let cit of arr" value="{{cit.city_code}}" name="hh">{{cit.city}},{{cit?.state}}</ion-option>
							    
							  </ion-select>
						  </ion-item>
							<div class="alert alert-danger" color="danger">
                  <div *ngIf="city.errors && (city.dirty || city.touched)">
                    <div [hidden]="!city.errors.required">
                      City is required
                    </div>
                  </div>
                </div>
						</ion-col>   
-->

<button color='dark' ion-button full type="button" (click)="openmapmodal()" ><ion-icon style="margin-right: 5px;" name="pin"></ion-icon>ADD ADDRESS</button>

<!--                             <ion-col col-12 class="left right">
						  <div style="position: relative; overflow: hidden;">

                  <ion-icon ios="ios-search-outline" md="md-search" (click)="openmapmodal()" style="position: absolute;
                  top: 4px;
                  right: -24px;
                  width: 50px;
                  height: 50px;
                  /* display: block; */
                  color: #a6a6a6;
                  z-index: 999; 
                  font-size:26px;
                  "></ion-icon>
                  <button>click here</button>

                <ion-item>
                  <ion-label stacked>ADDRESS </ion-label>
                  
                  <ion-input type="text" placeholder="Type and click search"  [(ngModel)]= "data.address" name="address" #address="ngModel" required></ion-input>
                  
                </ion-item>
              </div>		
                                                </ion-col>       -->
                                    
                                    
<!--						<ion-col col-12 class="left right">
						  <div style="position: relative; overflow: hidden;">

                  <ion-icon ios="ios-locate-outline" md="md-locate" (click)="openmapmodal()" style="position: absolute;
                  top: 4px;
                  right: -24px;
                  width: 50px;
                  height: 50px;
                  /* display: block; */
                  color: #000;
                  z-index: 999; 
                  font-size:26px;
                  "></ion-icon>

                <ion-item>
                  <ion-label stacked>ADDRESS </ion-label>
                  
                  <ion-input  (focus)="lupap()" type="text" [(ngModel)]= "data.address" name="address" #address="ngModel" required></ion-input>
                  
                </ion-item>
              </div>		
                                                </ion-col>-->
						<ion-col col-12 class="left right">
						  <ion-item>
						    <ion-label stacked>Phone Number (xxx-xxx-xxxx)</ion-label>
						    <ion-input (input)="phonevalidation(data.phone)" type="tel" [(ngModel)]="data.phone" name="phone" #phone="ngModel" pattern="^[0-9]+(-[0-9]+)+$" maxlength="12" required></ion-input>
						  </ion-item>
							<div class="alert alert-danger" color="danger">
                  <div *ngIf="phone.errors && (phone.dirty || phone.touched)">
                    <div [hidden]="!phone.errors.required">
                      Phone number required
                    </div>
                    <div [hidden]="!phone.errors.pattern">
                      Only number allowed
                    </div>
                  </div>
                </div>
						</ion-col>
						<ion-col col-12 class="left right">
						  <ion-item>
						    <ion-label stacked>Email</ion-label>
						      <ion-input type="email" [(ngModel)]="data.email" name="email" #email="ngModel" pattern="^[a-z0-9]+(\.[_a-z0-9]+)+([@{1}])+(\.[a-z0-9-]+)+([.{1}])(\.[a-z]{1,15})$" required></ion-input>
				  </ion-item>
					 <div class="alert alert-danger" color="danger">
            <div *ngIf="email.errors && (email.dirty || email.touched)">
              <div [hidden]="!email.errors.required">
                Email is required
              </div>
              <div [hidden]="!email.errors.pattern">
                Invalid email
              </div>
            </div>
          </div>
						</ion-col>
						<ion-col col-12 class="left right">
                                                    <div class="itemouter">
						  <ion-item>
						    <ion-label stacked>Password</ion-label>
						    <ion-input type="{{ptype}}" [(ngModel)]="data.password" name="password" #password="ngModel" pattern="(?!^[0-9]*$)(?!^[0-9@/*/-/#/&/^/$/\/|/;/_/,/~/?/!/./''/`/<>/%/:/{}/()/+/=]*$)(?!^[a-zA-Z@/*/#/&/^/$/;/_/,/~/?/\/|/''/-/`/./\/!/<>/%/:/()/{}/+/=]*$)(?!^[a-zA-Z0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9@/*/#/&/$/;/_/{}/%/:/^/?/~/`/''/|/,/-/<>/!/\/./()/+/=]{6,30})" required></ion-input>
                                          
                                                   
				  </ion-item>
                                             <ion-icon name="{{iconname}}" (click)="showPassword()" ></ion-icon>        
					 <div *ngIf="password.errors && (password.dirty || password.touched)">
              <div [hidden]="!password.errors.required">
                Password is required
              </div>
							<div [hidden]="!password.errors.minlength">
								Password must be at least 6 digits
							</div>
                                              <div [hidden]="!password.errors.pattern">
                                       Password is weak(It should be combination of a-z/A-Z,0-9/@*#)
                                           </div>
                  
            </div>
                                             
                                                    </div>
						</ion-col>

						<ion-col col-12 class="left right">
                                                    <div class="itemouter">
						  <ion-item>
						    <ion-label stacked>Confirm Password</ion-label>
						    <ion-input type="{{Ctype}}" [(ngModel)]="data.cpassword" (input)="handleKeyboardEvent($event,data.password,data.cpassword)" name="cpassword" #cpassword="ngModel" required></ion-input>
						 
                                                  </ion-item>
                                                    <ion-icon name="{{iconname1}}" (click)="showCPassword()"></ion-icon>
						
							 <div *ngIf="key == false && cpassword.errors && (cpassword.dirty || cpassword.touched)">
              <div [hidden]="!cpassword.errors.required">
                Confirm password is required
              </div>
          
            </div>
						<div *ngIf="data.cpassword">
						 <div *ngIf="key != true && (cpassword.dirty || cpassword.touched)">
				
						 <span>Password mismatch </span> 
						 </div>
						 </div>
                                                    </div>
						</ion-col>
					</ion-row>
				  </ion-grid>
				</ion-list>
				<div class="frgtpwd">
			<button ion-button type="submit" [disabled]="!registrationForm.valid">Register</button>
			</div>
			</form>
		</div>
		<div class="frgtpwd" >
			<h3 class="register">I have an account? <span (click)="login()">Login</span></h3>
		</div>

	</div>
</ion-content>
